<ion-view view-title="">
    <ion-content>
        <div ng-click="dashboardCtrl.toggleConnectivity()"
             ng-class="{'status-icon-connected':dashboardCtrl.isConnected,
                        'status-icon-disconnected':!dashboardCtrl.isConnected}"></div>
        <div ng-class="{'message-connected':dashboardCtrl.isConnected,
                        'message-disconnected':!dashboardCtrl.isConnected}">
            {{dashboardCtrl.connectivityMessage}}</div>
        <div ng-if="dashboardCtrl.isConnected">
            <button class="button button-block button-clear" ui-sref="hero.transmitters">
                View Transmitters
            </button>
            <button class="button button-block button-clear" ui-sref="hero.mesh">
                View Mesh
            </button>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <span class="dashboard-footer">
            Last Updated: {{dashboardCtrl.lastUpdated | date:'HH:mm:ss a'}}
        </span>
    </div>
</ion-view>
