# OS Garbage
.DS_Store
Thumbs.db

# IntelliJ IDEA?
.idea/

# Bower lib dependencies
/**/lib/*

# Ionic dependencies
/**/resources/android
/**/resources/ios

# Vim swapfiles
*.swp
*.swo

# Ctags tags
.tags
