.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.zoom-buttons {
    width: 20px;
    position: absolute;
    right: 80px;
    left: auto;
}