<ion-view view-title="{{transmitterCtrl.transmitter.name}}">
    <ion-content>
        <div ng-class="{'transmitter-icon-connected':!transmitterCtrl.connected,
                        'transmitter-icon-disconnected':transmitterCtrl.connected}"></div>
        <div class="table table-250">

            <!-- update with ng-repeat -->
            <div class="table-row clickable" ng-click="transmitterCtrl.viewHistory('pv')">
                <div class="table-cell-125">PV</div>
                <div class="table-cell-125">{{transmitterCtrl.transmitter.data.pv}}</div>
            </div>
            <div class="table-row clickable" ng-click="transmitterCtrl.viewHistory('sv')">
                <div class="table-cell-125">SV</div>
                <div class="table-cell-125">{{transmitterCtrl.transmitter.data.sv}}</div>
            </div>
            <div class="table-row clickable" ng-click="transmitterCtrl.viewHistory('tv')">
                <div class="table-cell-125">TV</div>
                <div class="table-cell-125">{{transmitterCtrl.transmitter.data.tv}}</div>
            </div>
            <div class="table-row clickable" ng-click="transmitterCtrl.viewHistory('qv')">
                <div class="table-cell-125">QV</div>
                <div class="table-cell-125">{{transmitterCtrl.transmitter.data.qv}}</div>
            </div>

        </div>
    </ion-content>
</ion-view>
