<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="mershon.enterprises.wirelesshart"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <dependency id="com.tlantic.plugins.socket"
      url="https://github.com/mershon-enterprises/cdv-socket-plugin" commit="763544ed68e9e08bb9850b189e1e4ade958bbe09" />

  <asset src="www/hart.js" target="js/hart.js"/>

  <js-module src="www/hart.js" name="hart">
    <clobbers target="hart" />
  </js-module>

</plugin>
